.chartGallery {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 50%;
}

.mainChart {
    display: flex;
    width: 70%;
    height: 100%;
    transition: opacity 0.1s ease;
}

.chartGallery .mainChart .doughnut-diagram {
    width: calc(100% - 1vw);
}

.secondaryCharts {
    display: flex;
    flex-direction: column;
    width: 30%;
    position: relative;
}

.chartGallery .secondaryCharts .secondaryChart {
    cursor: pointer;
}

.chartGallery .secondaryCharts .secondaryChart:hover {
    background: rgba(255, 255, 255, 0.08);
}

.chartGallery .secondaryCharts .secondaryChart .doughnut-diagram {
    width: calc(100% - 1vw);
}

.chartGallery .secondaryCharts .secondaryChart .doughnut-diagram .diagram-title h1 {
    font-size: 0.65vw
}

.pinned_icon {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 0;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 6px;
    opacity: 0;
}

.pinned_icon svg{
    height: 2vw;
    width: 2vw;
}
